/* ==========================================================================
Main page styles
========================================================================== */
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.banner {
  background: url(../../../content/images/banner2.jpg) no-repeat 50%;
  background-position: center;
  background-size: cover;
  height: calc(100vh + 13px);
}

.card-home {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 350px;
  padding: 15px;
  border-radius: 15px;
}

.titulo {
  color: #202225;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
}

.parrafo {
  color: #202225;
  // width: 75%;
  margin-top: 15px;
  font-size: 18px;
}

.sociales {
  margin-top: 15px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.sociales>li:nth-child(1) {
  margin-left: -40px !important;
}

.sociales>li {
  margin-left: 15px;
  background-color: #2F3136;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
  transition: all .25s ease-in-out;
}

.sociales>li:hover {
  transform: scale(1.2);
}

.sociales>li>.icono {
  display: flex;
  justify-content: center;
  position: relative;
  top: 12px;
}

.cuerpo {
  width: 95%;
  // background-color: rebeccapurple;
  margin: 25px 2.5%;
  padding: 25px;
}

.estadistica {
  display: flex;
  flex-direction: row;

  &>.escala-covid {
    background: url(../../../content/images/estadistica-covid.png) no-repeat 50%;
    background-size: cover;
    width: 50%;
    height: 400px;
  }

  &>.datos {
    max-width: 50%;
    padding: 15px 25px;
    // background-color: red;

    &>.ver-mas {
      font-size: 20px;
      margin: 0 42%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
