/* ==========================================================================
Main page styles
========================================================================== */
.home-screen {
  font-weight: normal !important;
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.banner {
  background: url(../../../content/images/banner2.jpg) no-repeat 50%;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 50px);
}

.nav-link {
  &>svg {
    margin-right: 2px;
  }
}

.card-home {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 40vh;
  padding: 15px;
  border-radius: 15px;
}

.titulo {
  color: #202225;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
}

.parrafo {
  color: #202225;
  margin-top: 15px;
  font-size: 18px;
}

.sociales {
  margin-top: 15px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.sociales>li:nth-child(1) {
  margin-left: -40px !important;
}

.sociales>li {
  margin-left: 15px;
  background-color: #f1faee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
  transition: all 0.25s ease-in-out;

  &>img {
    margin: 5px 0 0 9px;
  }
}

.sociales>li:nth-child(2)>img {
  margin: 7px 0 0 9px;
}

.sociales>li:nth-child(4)>img {
  margin: 8px 0 0 8px;
}

.sociales>li:hover {
  transform: scale(1.2);
}

.sociales>li>.icono {
  display: flex;
  justify-content: center;
  position: relative;
  top: 12px;
}

.cuerpo {
  width: 95%;
  margin: 25px 2.5%;
  padding: 25px;
}

.estadistica {
  display: flex;
  flex-direction: row;
  margin: 25px 0 50px 0;
  height: 450px;
  background-color: #f1faee;
  // background: linear-gradient(to right, #ff8177 0%, #ff867a 5%, #ff8c7f 12%, #f99185 20%, #cf556c 60%, #b12a5b 100%);
  color: black;
  border-radius: 10px;

  &>.escala-covid {
    // background: url(../../../content/images/estadistica-covid.png) no-repeat 50%;
    // background-size: cover;
    width: calc(50% + 50px);
    height: 400px !important;
    margin: 25px 0 0 20px;
  }

  &>.datos {
    max-width: calc(50% - 50px);
    padding: 100px 25px;
    height: 105%;
    display: flex;
    flex-direction: column;

    &>h1 {
      font-weight: bolder;
    }
  }
}


.ver-mas {
  font-size: 20px;
  margin: 0 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  background-color: #1d3557;

  &:hover {
    background-color: #15263d;
  }
}

.mini-lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 50px 5% 25px 5%;

  &>li {
    max-width: calc(100% / 3);
    padding: 25px;
  }
}

.guion {
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background-color: #e63946;
  margin: 10px 0;
}

.vertical-divisor {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  margin-top: 5%;
}

.banner-central {
  background-color: #858e99;
  color: white;
  height: 400px;
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  zoom: 90%;

  &>.contenido-banner {
    width: 100%;
    height: 50%;
    align-items: center;
    margin: 0 30%;
    padding: 50px 40px 15px 40px;
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;

    &>h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-top: 25px;
      text-align: center;
      font-weight: bolder !important;
      width: 50%;
    }

    &>p {
      width: 40%;
      text-align: center;
    }
  }

  .iconos-banner {
    height: 150px;
    width: 60%;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 20% 0 20%;
    padding: 15px 20px;

    &>li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: calc(100% / 5);

      &>.icono {
        height: 50%;
      }
    }
  }
}

.contacto {
  // background-color: #555d66;
  color: black;
  height: 575px;
  width: 100%;
  background: url(../../../content/images/estetoscopio.jpg) no-repeat 50%;
  background-size: cover;
  margin: 25px 0 0 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &>div>div>h1 {
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
  }

  &>div>div>p {
    margin-top: -40px;
    width: 70%;
    margin: 0 15% 10px 15%;
    text-align: center;
  }

  &>div>div>.form-contacto {
    width: 55%;
    display: flex;
    justify-content: flex-start;

    &>.columna {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px 15px;

      &>.inputs-contacto {
        width: 105% !important;
      }
    }
  }

  &>.formulario {
    margin-left: 50px;
    width: 55%;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 500px) {
  .card-home {
    margin-left: -90px;
    margin-top: 25px;
  }

  .vertical-divisor {
    display: none;
  }

  .mini-lista {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    margin-left: -6px;

    &>li {
      max-width: 100%;
      margin-top: -25px;

      &:nth-child(1) {
        margin-top: -10px;
      }
    }
  }

  .banner-central {

    &>.contenido-banner {
      &>h1 {
        width: 100%;
        font-size: 28px;
        margin-top: 70px;
      }

      &>p {
        width: 100%;
      }
    }

    &>.iconos-banner {
      width: 110%;
      font-size: 12px;
      margin: 15px 0 -15px 0;
    }
  }

  .cuerpo {
    margin: 0;
    width: 100%;

    &>.estadistica {
      flex-direction: column;
      height: fit-content;

      &>.escala-covid {
        padding: 5px;
        width: 100%;
        margin: 0;
      }

      &>.datos {
        max-width: 100%;
        margin: -75px 0;

        &>h1 {
          font-size: 28px;
        }

        &>.link-covid {
          margin-left: -40px;
        }
      }
    }
  }

  .contacto {

    &>.formulario {
      width: 100%;
      margin-left: 0;

      &>.form-contacto {

        &>.columna>.enviar-button {
          font-size: 20px;
          margin: 25px 35%;
        }
      }
    }
  }
}
