@import '~antd/dist/antd.css';

.pacientes {
  background: url(../../../content/images/turnos2.jpg) no-repeat 50% !important;
  background-size: cover !important;
  height: 90vh;
}

.banner-pacientes {
  .titulo-pacientes {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > h1 {
      background-color: #2f3136;
      color: white;
      padding: 45px;
      font-size: 45px;
      border-radius: 10px;
    }
  }
}

.turnos {
  width: 70%;
  margin: 25px 15%;

  & > .button-turnos {
    font-size: 30px;
    height: fit-content;
    width: 100%;
    padding: 15px;
    margin: 25px 0;
  }
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
