.col-login {
  &>.form-group {
    width: 90% !important;
    margin: 10px 5%;
  }

  &>.form-check {
    width: 90% !important;
    margin: 10px 5.5%;
  }
}

.alerta-login {
  width: 90% !important;
  margin: 10px 5% !important;
}
